In [1]:
# Default needs
import dill
import numpy as np
import pandas as pd
import torch
import pandas as pd
from collections import Counter
from collections import defaultdict
from matplotlib import pyplot as plt

np.set_printoptions(precision=3)
np.set_printoptions(suppress=True)

import pickle

# Explore SARSA and PPO Training Results

In [2]:
SARSA_RESULTS_DICT = {
    'Wizard':"results\AnandakrishnanDumps\SARSA\winner_list_SARSA_EXPT_Wizard_Vs_Manticore_SARSA_STARTED_2022-11-09T16-06-19_NITERS1000.pickle",
    'Barbarian':"results\AnandakrishnanDumps\SARSA\winner_list_SARSA_EXPT_Barb_Vs_Manticore_SARSA_STARTED_2022-11-09T16-05-43_NITERS1000.pickle",
    'Ranger':"results\AnandakrishnanDumps\SARSA\winner_list_SARSA_EXPT_Wizard_Vs_Manticore_SARSA_STARTED_2022-11-09T16-05-57_NITERS1000.pickle"
}

for i in SARSA_RESULTS_DICT:
    res = dill.load(open(SARSA_RESULTS_DICT[i], "rb"))
    print(i)
    print(np.unique(np.array(res),return_counts=True))
    print("---")

Wizard
(array(['Leotris', 'Strahd', 'Timeout'], dtype='<U7'), array([279, 594, 127], dtype=int64))
---
Barbarian
(array(['Leotris', 'Strahd', 'Timeout'], dtype='<U7'), array([179,   5, 816], dtype=int64))
---
Ranger
(array(['Leotris', 'Strahd', 'Timeout'], dtype='<U7'), array([344, 180, 476], dtype=int64))
---

In [3]:
PPO_DENSE_RESULTS_DICT = {
    'Wizard':"results\AnandakrishnanDumps\PPO_Dense\winner_list_PPO_Wiz42_ITERS_20000.pickle",
    'Barbarian':"results\AnandakrishnanDumps\PPO_Dense\winner_list_PPO_Barb_ITERS_10000.pickle",
    'Ranger':"results\AnandakrishnanDumps\PPO_Dense\winner_list_PPO_Rang_ITERS_10000.pickle"
}

for i in PPO_DENSE_RESULTS_DICT:
    res = dill.load(open(PPO_DENSE_RESULTS_DICT[i], "rb"))
    print(i)
    print(np.unique(np.array(res),return_counts=True))
    print("---")

Wizard
(array(['Leotris', 'Strahd', 'Timeout'], dtype='<U7'), array([17676,  2322,     2], dtype=int64))
---
Barbarian
(array(['Leotris', 'Strahd', 'Timeout'], dtype='<U7'), array([34, 26, 40], dtype=int64))
---
Ranger
(array(['Leotris', 'Strahd', 'Timeout'], dtype='<U7'), array([9632,  366,    2], dtype=int64))
---

# Explore Simulation of PPO

In [6]:
df = pd.read_csv('results\sims\csvs\Simulation_PPO_EXPT_Wizard_PPO_Dense_STARTED_2022-11-09T20-58-00_NSIMS1000.csv')
df[df.winner=='Leotris'].describe()

       Unnamed: 0      reward  num_actions
count  903.000000  903.000000   903.000000
mean   497.982281   68.100775   159.311185
std    288.501288    2.406530    86.882005
min      2.000000   61.000000    43.000000
25%    245.500000   66.000000    99.000000
50%    498.000000   68.000000   138.000000
75%    744.500000   70.000000   196.500000
max    999.000000   77.000000   745.000000

In [9]:
df = pd.read_csv('results\sims\csvs\Simulation_PPO_EXPT_Barbarian_PPO_Dense_STARTED_2022-11-09T23-02-45_NSIMS1000.csv')
df[df.winner=='Leotris'].describe()

       Unnamed: 0      reward  num_actions
count  954.000000  954.000000   954.000000
mean   500.691824   71.780922   392.690776
std    287.446235    3.036195   204.789175
min      0.000000   63.000000    73.000000
25%    253.250000   70.000000   243.000000
50%    499.500000   72.000000   338.500000
75%    747.750000   74.000000   490.750000
max    999.000000   80.000000  1422.000000

In [8]:
df = pd.read_csv('results\sims\csvs\Simulation_PPO_EXPT_Ranger_PPO_Dense_STARTED_2022-11-09T23-02-48_NSIMS1000.csv')
df[df.winner=='Leotris'].describe()

       Unnamed: 0      reward  num_actions
count  972.000000  972.000000   972.000000
mean   500.114198   76.118313   319.685185
std    288.840696    2.757518   162.879451
min      0.000000   67.000000    56.000000
25%    249.750000   74.000000   195.000000
50%    501.500000   76.000000   292.500000
75%    749.250000   78.000000   413.000000
max    999.000000   87.000000  1045.000000